[submodule "external/TensorRT-LLM"]
	path = external/TensorRT-LLM
	url = https://github.com/alexbowe/TensorRT-LLM.git
	branch = abowe/rick-specdec-multitoken-fix
[submodule "external/RL"]
	path = external/RL
	url = https://github.com/ricklamers-nvidia/RL.git
	branch = rick/trtllm-specdec
